.header-card {
    background: #FAFAFA;
    border-radius: 16px;
}

.text-purple {
    color: #686FA6;
}

.container-icon-form {
    width: 36px;
    height: 36px;
    background-color: #030F6B;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

textarea:focus,
input:focus {
    outline: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

*:focus {
    outline: none !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-search {
    border: 0px solid transparent;
}

.container-search {
    border: 1px solid #EFF0F2;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.form-drop {
    border-radius: 8px !important;
}

.container-form-drop {
    border-bottom: 1px solid #EFF0F2;
}

.card-list-style-1 {
    background: #FFFFFF;
    border: 2px solid #CDCFE1;
    border-radius: 16px;
    padding: 16px 24px 16px 24px;
    cursor: pointer;
}

.card-list-style-1:hover {
    background: #CDCFE1;
    border: 2px solid #CDCFE1;
    cursor: pointer;
}

.card-list-style-2 {
    background: #FAFAFA;
    border-radius: 16px;
    padding: 16px 24px 16px 24px;
}

.container-box-initial {
    width: 120px;
    height: 120px;
    background: #F3F5FD;
    border-radius: 8px;
}

.container-box-initial h2 {
    color: #030F6B;
}

.container-label span {
    color: #020836;
    padding: 4px 16px 4px 16px;
    background: #F3F5FD;
    border-radius: 8px;
    margin-right: 16px;
    margin-top: 8px;
}

.container-label span i {
    color: #020836;
    margin-right: 10px;
}

.btn-detail {
    min-width: 105px;
    max-height: 40px;
    background: #030F6B;
    border-radius: 8px;
    /* padding: 10px 16px; */
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn-detail:hover {
    background: #01041B;
    color: white;
}

.container-header {}

.container-header h4 {
    font-weight: 600;
}

.container-header i {
    margin-right: 16px;
    font-size: 24px;
    cursor: pointer;
}